@model MvcLibrary.Models.BookStatistics

@{
    ViewData["Title"] = "Statistics";
}

<div class="page-header">
    <h1>
        @ViewData["Title"]
        <small>
            About all the library
        </small>
    </h1>
</div>

<div class="well well-lg">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mostExpensiveBook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mostExpensiveBook.Title) &mdash; <strong>@Html.DisplayFor(model => model.mostExpensiveBook.Price)</strong>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cheapestBook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cheapestBook.Title) &mdash; <strong>@Html.DisplayFor(model => model.cheapestBook.Price)</strong>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
